# .NET specific
**/bin/
**/obj/
**/out/
**/.vs/
**/*.user
**/*.userosscache
**/*.dbmdl
**/*.jfm
**/TestResults/
**/.toolstarget
**/secrets.json
**/Properties/PublishProfiles/
**/Properties/launchSettings.json

# Test files
**/coverage/

# Git
**/.git/
**/.gitignore

# Docker
**/.dockerignore
**/Dockerfile*
**/docker-compose*